/* style.css */

.frame {
  width: 300px;
  height: 200px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto; /* center on the page */
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.div {
  width: 80px;
  height: 80px;
  background-color: red;
  border-radius: 5px;
}
