.frame {
  background-color: #3e3e3e;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
}

.frame .div {
  background-color: #3e3e3e;
  width: 827px;
  height: var(--responsive-device-width);
}
