

  /* Base (mobile first) */
  body {
    
    font-family: Arial, sans-serif;
    background-color: #383838;
    color: #f0f0f0;
    min-height: 100vh;
    position: relative; 
    margin: 0;
  }

  /* playfield background */ 
  body::before {
    content: "";              
    position: fixed;         
    inset: 0;                
    
    background-image: url("./photos/play-field.png?v=2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    opacity: 0.3;            
    z-index: -1;              
  }


  

    /*titel banner */


    .banner {
      background-color: #d8c9a3;
      color: #2b2b2b;
      padding: 30px 20px;
      text-align: center;
      margin: 0%;
      padding: 1%;
    }

    .construction {  /*construction image */
      width: 30%;       /* keep it small on desktop */
      max-width: 80px;  /* limit the absolute size */
      height: auto;
      padding: 0%;
      margin-top: 0%;     /* keep aspect ratio */
    }

    .banner h1 {
      margin: 0;
      font-size: 1.8rem;
    }

    .banner h4 {
      margin: 0;
      font-size: 1.5rem;

    }

    .banner p {
      margin-top: 8px;
      font-size: 1rem;
    }

    /* Content */
    .content {
      padding: 30px 20px;
    }

    /* Description section */
    .description {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    /* -------------------------------------team photo styling*/
    .description img {
      width: 100%;
      max-width: 350px;
      height: auto;
      border-radius: 10px;
      object-fit: cover;
    }

    .description-text h2 {
      margin-top: 0;
      font-size: 1.4rem;
    }

    .description-text p {
      line-height: 1.6;
      color: #cccccc;
      margin-bottom: 0;
    }

    
    
    
    /* -----------------------------------------------------Contact section/footer    */

    .wrapper {
      min-height: calc(100vh - 100px); /* 100px = footer height */
    }

    .contact {  /* your footer */
      background-color: #2f2f2f;
      padding-top: 20px;
      /* remove fixed height */
      text-align: left;
      color: #cccccc;
      position: bottom;
    }

    .contact h2 {
      margin-top: 0;
      font-size: 1.4rem;
    }

    .contact p {
      margin: 8px 0;
      color: #cccccc;
    }


    /* ----------------------------------------Desktop layout */
    @media (min-width: 768px) {
      .description {
        flex-direction: row;
        align-items: center;
      }

      .description img {
        flex: 1;
      }

      .description-text {
        flex: 2;
      }

      .content,
      .contact {
        padding: 50px 10%;
      }

      .banner h1 {
        font-size: 2.4rem;
      }
    }

 